<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs", {title: "Archive" }) %>

    <body>
        <div class="wrapper vh100">
            <div class="container">
                <%- include("./partials/header.ejs", {}) %>

                <main class="main">
                    <div class="main__title">
                        <h1 class="title__header">Group archive</h1>
                    </div>
                    <div class="archive">
                        <form
                            action="archive/upload"
                            method="post"
                            class="archive__form form"
                            id="upload-file"
                            enctype="multipart/form-data"
                        >
                            <div class="form__control-section">
                                <input type="file" name="files" class="form__input-file" id="file-upload" multiple />
                                <label for="file-upload" class="form__upload-file-button button">Select files</label>
                                <button type="submit" name="action" value="upload" class="form__submit-button button">Upload</button>
                            </div>
                            <ul class="form__files-to-upload" id="files-to-upload"></ul>
                        </form>
                        <div class="archive__container">
                            <% files.forEach(file => { %>
                            <form action="/archive/<%= file._id %>?_method=DELETE" method="post" enctype="multipart/form-data">
                                <div class="archive__item file">
                                    <div class="file__info">
                                        <% let iconName = fileNameToType(file.filename); iconName = iconName ? ("-" + iconName) : iconName;
                                        %>
                                        <span class="file__icon icon icon-file<%= iconName %>"></span>
                                        <div class="file__name-and-size">
                                            <a href="archive/<%= file._id %>" class="file__name" download="<%= file.filename %>">
                                                <%= file.filename %>
                                            </a>
                                            <p class="file__size"><%= fileSize(file.length) %></p>
                                        </div>
                                    </div>
                                    <div class="file__time"><%= moment(file.uploadDate).format("lll") %></div>
                                    <div class="div file__controls">
                                        <button type="submit" class="file__remove icon icon-close"></button>
                                    </div>
                                </div>
                            </form>
                            <% }) %>
                        </div>
                    </div>
                </main>

                <%- include("./partials/footer.ejs", {}) %>
            </div>
        </div>
        <script src="../js/app.min.js"></script>
    </body>
</html>
