<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs", {title: "Welcome"}) %>

    <body>
        <div class="wrapper">
            <div class="container">
                <%- include("./partials/header.ejs", {}) %>

                <main class="main">
                    <div class="main__title">
                        <h1 class="title__header"><%= header %></h1>
                        <p class="title__subheader"><%= subheader %></p>
                    </div>
                </main>

                <%- include("./partials/footer.ejs", {}) %>
            </div>
        </div>
        <script src="../js/app.min.js"></script>
    </body>
</html>
