<!DOCTYPE html>
<html lang="en">
	<%- include("./partials/head.ejs", {title: "Queue"}) %>

	<body>
		<div class="wrapper">
			<div class="container">
				<%- include("./partials/header.ejs", {}) %>

				<main class="main">
					<div class="main__title">
						<h1 class="title__header">Group queue</h1>
						<p class="title__subheader">The order of presentation</p>
					</div>
					<div class="queue__container">
						<% if (members.length) { %>
							<div class="queue">
							<div class="queue__menu--top menu">
								<div class="menu__container">
									<form method="get" id="shuffle-shift">
										<button type="submit" name="action" value="shuffle"
												class="menu__item queue__shuffle button">Shuffle</button>
										<button type="submit" name="action" value="shift"
												class="menu__item queue__shift button">Shift</button>
									</form>
									<form method="get" id="new-person">
										<div class="menu__new-person">
											<input name="person-name" type="text" class="menu__text-input input">
											<button name="action" value="add-person"
													class="menu__add-person-button button">Add</button>
										</div>
									</form>
								</div>
							</div>
							<form method="get" id="edit">
								<table class="queue__table table">
									<thead class="table__head">
										<tr class="table__row">
											<th class="table__th table__cell">#</th>
											<th class="table__th table__cell">Name</th>
											<th class="table__th table__cell">Status</th>
										</tr>
									</thead>
									<tbody class="table__body">
										<% for (let i = 0; i < members.length; i++) {
											const member = members[i];
											const memberPosition = i + 1;
										%>
											<tr class="table__row">
												<td class="table__td table__cell"><%= memberPosition %></td>
												<td class="table__td table__cell"><%= `${member.name.last} ${member.name.first}` %></td>
												<td class="table__td table__cell">
													<input name="status<%= memberPosition %>" type="checkbox" name="status"
													<%= member.status ? "checked" : "" %>>
												</td>
											</tr>
										<% } %>
									</tbody>
								</table>
								<div class="queue__menu--bottom menu">
									<div class="menu__container">
										<button type="submit" name="action" value="edit"
												class="menu__item queue__shift button">Apply</button>
									</div>
								</div>
						 
						<% } else { %>
							<p>The queue has no members yet.</p>
						<% } %>
					</div>
				</main>

				<%- include("./partials/footer.ejs", {}) %>
			</div>
		</div>
		<script src="../js/app.min.js"></script>
	</body>
</html>
